.plugin-edit-view {
    max-width: 1200px;
    margin: auto;
    input:disabled,
    textarea:disabled {
        color: initial;
    }

    &__block {
        margin-top: 2rem;
    }

    &__header {
        display: flex;
        gap: 1rem;
    }
    &__info {
        display: flex;
        gap: 0.5rem;
    }

    &__image {
        margin: auto 0;
        margin-top: 2rem;
    }
    &__title {
        // Styles for the title
    }

    &__inputs {
        // Styles for the inputs container
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
    }

    &__input {
        // Styles for individual text inputs
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    &__textarea {
        // Styles for the textarea input
        padding: 1rem;
        margin-top: 1rem;
        background: var(--theme-elevation-100);
    }
}
